.contact_content {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.contact_content > .inner {
	width: 100%;
	max-width: 1920px;
	height: 48.95vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 940px;
	margin-top: 5.625vw;
}

.contact_content .map_content {
	width: 54.1%;
	height: 48.95vw;
	max-height: 940px;
}

.contact_content .contact_info {
	width: 45.9%;
	height: 48.95vw;
	max-height: 940px;
	background: #FFD129;
	display: flex;
	flex-direction: column;
}

.contact_content .contact_info .title {
	font-size: 3.645vw;
	font-family: Gotham-regular;
	color: #000;
	text-align: center;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

.contact_content .contact_info .place {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: auto;
	padding: 0 3vw;
	margin-bottom: 1vw;
}

.contact_content .contact_info .place span {
	font-size: 1.198vw;
	color: #000;
	font-family: Gotham-regular;
	margin-bottom: 0.3vw;
}

.contact_content .contact_info .place span:last-child {
	margin-bottom: 0;
}

.contact_content .contact_info .place_name {
	font-size: 2.1875vw;
	color: #000;
	font-family: Gotham-regular;
	margin-bottom: 0.5vw;
	margin-left: 2vw;
}

.contact_content .contact_info .icon {
	margin-right: 0.7vw;
}

.contact_content .contact_info .loc {
	width: 1.1395vw;
	height: 1.519vw;
	background: url(../assets/icons/map-marker-alt-solid.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.contact_content .contact_info .tel {
	width: 1.185vw;
	height: 1.185vw;
	background: url(../assets/icons/phone-solid.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.contact_content .contact_info .mes {
	width: 1.452vw;
	height: 1.09vw;
	background: url(../assets/icons/envelope-solid2.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.contact_content .contact_info .globe {
	width: 1.49vw;
	height: 1.49vw;
	background: url(../assets/icons/globe-solid.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.contact_content .contact_info .info_item {
	display: flex;
	align-items: center;
}

.contact_content .contact_info .info_item > div {
	margin-bottom: 0.3vw;
}

.contact_content .contact_info .info_item div:last-child {
	display: flex;
	flex-direction: column;
}

@media (min-width: 1920px) {
	.contact_content > .inner {
		margin-top: 108px;
	}

	.contact_content .text_content {
		width: 1039px;
		padding: 57.6px;
	}

	.contact_content .text_content p {
		font-size: 48px;
		font-family: Gotham-regular;
		color: #fff;
	}

	.contact_content .contact_info {
		width: 881px;
	}

	.contact_content .contact_info .title {
		font-size: 70px;
		margin-top: ;
		margin-bottom: 19.2px;
		margin-left: 38.4px;
	}

	.contact_content .contact_info .place {
		padding: 0 57.6px;
		margin-bottom: 19.2px;
	}

	.contact_content .contact_info .place span {
		font-size: 23px;
		margin-bottom: 5.76px;
	}

	.contact_content .contact_info .place_name {
		font-size: 42px;
		margin-bottom: 9.6px;
	}

	.contact_content .contact_info .icon {
		margin-right: 13.44px;
	}

	.contact_content .contact_info .loc {
		width: 21.88px;
		height: 29.17px;
	}

	.contact_content .contact_info .tel {
		width: 22.76px;
		height: 22.76px;
	}

	.contact_content .contact_info .mes {
		width: 27.88px;
		height: 20.91px;
	}

	.contact_content .contact_info .globe {
		width: 28.61px;
		height: 28.61px;
	}

	.contact_content .contact_info .info_item > div {
		margin-bottom: 5.76px;
	}
}

@media (max-width: 767px) {
	.contact_content {
		margin-bottom: -30px;
	}

	.contact_content > .inner {
		height: auto;
		flex-direction: column-reverse;
		margin-top: 0;
	}

	.contact_content .map_content {
		width: 100%;
		height: 270px;
	}

	.contact_content .contact_info {
		width: 100%;
		height: auto;
	}

	.contact_content .contact_info .title {
		font-size: 31px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.contact_content .contact_info .place {
		padding: 0 4%;
		margin-bottom: 10px;
	}

	.contact_content .contact_info .place_name {
		margin-left: 10px;
	}

	.contact_content .contact_info .place span {
		font-size: 9px;
		margin-bottom: 10px;
	}

	.contact_content .contact_info .place span:last-child {
		margin-bottom: 0;
	}

	.contact_content .contact_info .place_name {
		font-size: 19px;
		margin-bottom: 14px;
	}

	.contact_content .contact_info .icon {
		margin-right: 4px;
	}

	.contact_content .contact_info .loc {
		width: 7.89px;
		height: 10.52px;
	}

	.contact_content .contact_info .tel {
		width: 8.2px;
		height: 8.2px;
	}

	.contact_content .contact_info .mes {
		width: 10.05px;
		height: 7.54px;
	}

	.contact_content .contact_info .globe {
		width: 10.31px;
		height: 10.31px;
	}

	.contact_content .contact_info .info_item > div {
		margin-bottom: 10px;
	}
}