@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-medium;
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-light;
    src: url(../assets/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: Gotham-regular;
    src: url(../assets/fonts/Gotham-regular.ttf);
}