.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.header > .inner {
    width: 100%;
    max-width: 1920px;
    height: auto;
    display: flex;
    align-items: center;
}

.header .carousel {
    width: 100%;
    height: 41vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .carousel .carousel-item {
    width: 100%;
    height: 41vw;
}

.header .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.header .carousel-indicators li {
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 100%;
    background: #fff;
    margin: 0 1vw;
    cursor: pointer;
}

.header .carousel-indicators .active {
    background: #FFD129;
}

.header .controls-top {
    margin-top: 0!important;
}

.carousel_1_prev {
    width: 2.445vw;
    height: 4.89vw;
    background: url(../assets/icons/left3.svg);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    margin-left: 2.4vw;
}

.carousel_1_next {
    width: 2.445vw;
    height: 4.89vw;
    background: url(../assets/icons/right3.svg);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    margin-right: 2.4vw;
}

.header .info {
    width: 37.9vw;
    height: 41vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.header .carousel .right {
    transform: translateX(25vw);
}

.header .carousel .left {
    transform: translateX(-25vw);
}

.header .info > .title {
    width: 100%;
    font-size: 3.95vw;
    font-family: Montserrat;
    font-weight: 600;
    color: #fff;
    text-shadow: #000 0px 0.15625vw 1.04vw;
    margin-top: 1vw;
}

.header .info > .text {
    font-size: 1.45vw;
    font-family: Gotham-regular;
    color: #fff;
    text-shadow: #000 0px 0.05vw 0.325vw;
    margin-top: 1vw;
}

.header .info > .get_info {
    font-size: 2.1vw;
    padding: 0.7vw 1.2vw;
    color: #fff;
    background: #339BD6;
    border-radius: 1.92vw;
    font-family: Montserrat;
    font-weight: 600;
    transition: 0.1s all;
    margin-top: 1vw;
}

.header .info > .get_info:hover {
    background: #29C4FF;
}

/* ************************ */
.whoami {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 9vw;
}

.whoami > .inner {
    width: 100%;
    max-width: 1920px;
    height: 29vw;
    max-height: 552px;
    background: #339BD6;
    border-radius: 1.82vw 17.65vw 1.82vw 1.82vw;
}

.whoami > .inner .pisa {
    width: 28vw;
    height: 38vw;
    background: url(../assets/images/pisa\ tower.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-top: -4vw;
}

.whoami > .inner .info_content {
    width: 71.25vw;
    float: right;
    color: #FFD129;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
}


.whoami > .inner .info_content .title {
    font-size: 4.69vw;
    font-family: Montserrat-bold;
}

.whoami > .inner .info_content > .text {
    width: 60.7vw;
    height: 14.27vw;
    color: #fff;
    font-family: Montserrat-medium;
    font-size: 1.04vw;
}

.whoami > .inner .info_content > a {
    width: 13vw;
    height: 3.17vw;
    border-radius: 1.35vw;
    font-size: 1.72vw;
    background: #FFD129;
    color: #339BD6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat-bold;
    transition: all 0.1s;
    margin: auto;
}

.whoami > .inner .info_content > a:hover {
    background: #F5DB7D;
}

.news_content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.news_content > .inner {
    width: 100%;
    max-width: 1920px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.news_content .title {
    width: 100%;
    height: 14.2vw;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news_content .title > .shadow {
    font-size: 5.16vw;
    color: #339BD6;
    opacity: 0.33;
    font-family: Montserrat-bold;
    margin-bottom: -2.3vw;
}

.news_content .title > .title_inner {
    font-size: 4.11vw;
    color: #339BD6;
    font-family: Montserrat-bold;
    margin-top: -2.3vw;
}

.news_content .inner_content {
    width: 100%;
    height: 23.6vw;
    background: #FFEBA2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 455px;
}

.news_content .inner_content .owl-carousel {
    width: 83.3vw;
    height: auto;
}

.news_content .item {
    width: 17.08vw;
    min-height: 19.8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    z-index: 151;
    cursor: pointer;
}

.owl-item {
    z-index: 152;
}

.news_content .item > .img {
    width: 100%;
    height: 16.4vw;
    border: 0.26vw solid #fff;
    border-radius: 2.97vw;
    box-shadow: rgba(0, 0, 0, 0.16) 8px 0 5px;
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
}

.news_content .item > .news_title {
    font-size: 1.24vw;
    text-align: center;
    font-family: Montserrat-bold;
    color: #000;
    margin-top: 0.5vw;
}

.news_content .item > .date {
    width: 12vw;
    display: flex;
    align-items: center;
}

.news_content .item > .date > .icon {
    width: 0.86vw;
    height: 0.86vw;
    background: url(../assets/icons/clock-regular.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.news_content .item > .date > .time {
    font-family: Montserrat-light;
    font-size: 0.667vw;
    color: #000;
    margin-left: 0.3vw;
}

.news_content .controls-top {
    margin-top: 0;
}

.carousel_2_prev, .carousel_3_prev, .carousel_4_prev {
    width: 2.445vw;
    height: 4.89vw;
    background: url(../assets/icons/left3.svg);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    margin-left: 5.4vw;
    cursor: pointer;
    z-index: 150;
}

.carousel_2_next, .carousel_3_next, .carousel_4_next {
    width: 2.445vw;
    height: 4.89vw;
    background: url(../assets/icons/right3.svg);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    margin-right: 5.4vw;
    cursor: pointer;
    z-index: 150;
}

.controls-top {
    margin-top: 5.2vw;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.news_popup {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.90);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    max-width: 1920px;
    margin: auto;
    display: none;
    justify-content: center!important;
    align-items: center!important;
}

.news_popup .close_popup {
    width: 3vw;
    height: 3vw;
    max-width: 57.6px;
    max-height: 57.6px;
    background: url(../assets/icons/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    right: 4.68vw;
    top: 2.6vw;
    opacity: 0.8;
}

.news_popup .close_popup:hover {
    opacity: 1;
    transform: scale(1.1);
}

.news_popup .pop_up_content{
    width: 59.74vw;
    height: 36.4vw;
}

.news_popup .pop_up_content .owl-carousel {
    width: 59.74vw;
    height: 36.4vw;
    border-radius: 4vw;
}

.news_popup .pop_up_content .owl-carousel .item {
    width: 59.74vw;
    height: 36.4vw;
    background: #339BD6;
    border-radius: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news_popup .pop_up_content .owl-carousel .item .top {
    width: 54.58vw;
    height: 16.4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_popup .pop_up_content .owl-carousel .item .top img {
    width: 24.42vw;
    height: 16.4vw;
    object-fit: cover;
    object-position: center;
}

.news_popup .pop_up_content .owl-carousel .item .top .right {
    width: 28.22vw;
    display: flex;
    flex-direction: column;
    margin-top: -3vw;
}

.news_popup .pop_up_content .owl-carousel .item .top .text {
    width: 28.22vw;
    height: 16.4vw;
    font-size: 1.145vw;
    font-family: Gotham-regular;
    color: #fff;
    line-height: 1.1;
    overflow: hidden;
    margin-top: 0.5vw;
}

.news_popup .pop_up_content .owl-carousel .item .item_title {
    width: 28.22vw;
    font-size: 1.92vw;
    font-family: Gotham-regular;
    color: #FFD129;
    text-align: left;
}

.news_popup .pop_up_content .owl-carousel .item .bottom {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    transform: translateY(13vw);
}

.news_popup .pop_up_content .owl-carousel .item .bottom .publish_date {
    font-size: 1.2vw;
    font-family: Gotham-regular;
    color: #fff;
}

.news_popup .pop_up_content .owl-carousel .item .bottom .more {
    width: 13.07vw;
    height: 3.17vw;
    border-radius: 1.354vw;
    background: #FFD129;
    font-size: 1.728vw;
    color: #339BD6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gotham-regular;
    transition: 0.1s all;
}

.news_popup .pop_up_content .owl-carousel .item .bottom .more:hover {
    background: #F5DB7D;
}

.news_popup .controls-top {
    width: 73.125vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.carousel_news_prev {
    width: 4.84vw;
    height: 3.3vw;
    background: url(../assets/icons/left_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.carousel_news_next {
    width: 4.84vw;
    height: 3.3vw;
    background: url(../assets/icons/right_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.students {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.students > .inner {
    width: 100%;
    max-width: 1920px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.students .title {
    width: 100%;
    height: 14.2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.students .title > .shadow {
    font-size: 5.16vw;
    color: #339BD6;
    opacity: 0.33;
    font-family: Montserrat-bold;
    margin-bottom: -2.3vw;
}

.students .title > .title_inner {
    font-size: 4.11vw;
    color: #339BD6;
    font-family: Montserrat-bold;
    margin-top: -2.3vw;
}

.students .bg {
    width: 100%;
    height: 40.4vw;
    margin-top: 14.2vw;
    max-width: 1920px;
    position: absolute;
    z-index: -1;
    background: url(../assets/bg/Group\ 11.png);
    background-position: left -20px bottom;
    background-size: 108%;
    background-repeat: no-repeat;
}

.students .inner_content {
    width: 100%;
    height: 23.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.students .inner_content .owl-carousel {
    width: 83.3vw;
    height: auto;
}

.students .inner_content .owl-carousel .item {
    width: 17.08vw;
    min-height: 18.9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    z-index: 151;
    cursor: pointer;
}

.students .controls-top {
    margin-top: 0;
}

.students .inner_content .owl-carousel .item > .img {
    width: 17.08vw;
    height: 17.08vw;
    object-fit: cover;
    object-position: center;
    border: 0.26vw solid #FFD129;
    border-radius: 100%;
    -o-object-fit: cover;
    -o-object-position: center;
}

.students .inner_content .owl-carousel .item > .std_name {
    font-size: 1.72vw;
    text-align: center;
    font-family: Montserrat-bold;
    color: #fff;
    margin-top: 0.5vw;
}

.students_popup {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.90);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    max-width: 1920px;
    margin: auto;
    display: none;
    justify-content: center!important;
    align-items: center!important;
}

.students .close_popup {
    width: 3vw;
    height: 3vw;
    max-width: 57.6px;
    max-height: 57.6px;
    background: url(../assets/icons/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    right: 4.68vw;
    top: 2.6vw;
    opacity: 0.8;
}

.students .close_popup:hover {
    opacity: 1;
    transform: scale(1.1);
}

.students .pop_up_content, .students .pop_up_content .owl-carousel, .students .pop_up_content .owl-carousel .item {
    width: 29.94vw;
    height: 42.18vw;
}

.students .pop_up_content .owl-carousel .item {
    background: #339BD6;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4.06vw;
}

.students_popup .controls-top {
    width: 42vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.carousel_students_prev {
    width: 4.84vw;
    height: 3.3vw;
    background: url(../assets/icons/left_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.carousel_students_next {
    width: 4.84vw;
    height: 3.3vw;
    background: url(../assets/icons/right_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.students .pop_up_content .owl-carousel .item img {
    width: 20.52vw;
    height: 13.75vw;
    object-fit: cover;
    object-position: center;
    margin-top: 5vw;
}

.students .pop_up_content .owl-carousel .item .text {
    width: 23.75vw;
    height: auto;
    overflow: hidden;
    line-height: 1.1;
    font-size: 1.128vw;
    font-family: Gotham-regular;
    color: #fff;
    margin-top: 1vw;
}

.students .pop_up_content .owl-carousel .item .item_title {
    max-width: 23.75vw;
    font-size: 1.56vw;
    font-family: Gotham-regular;
    color: #FFD129;
    margin-top: 1vw;
}

.partners {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.partners > .inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners .title {
    width: 100%;
    height: 14.2vw;
    margin-top: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners .title > .shadow {
    font-size: 5.16vw;
    color: #339BD6;
    opacity: 0.33;
    font-family: Montserrat-bold;
    margin-bottom: -2.3vw;
}

.partners .title > .title_inner {
    font-size: 4.11vw;
    color: #339BD6;
    font-family: Montserrat-bold;
    margin-top: -2.3vw;
}

.partners .inner_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners .inner_content .owl-carousel {
    width: 83.3vw;
    height: auto;
}

.partners .inner_content .owl-carousel .item {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
    z-index: 151;
}

.partners .inner_content .owl-carousel .item > .img {
    max-width: 12vw;
    max-height: 8vw;
    object-position: center;
    object-fit: contain;
}

.partners .controls-top {
    margin-top: 2vw;
}

.partners .carousel_4_next {
    background: url(../assets/icons/Polygon\ 8.svg);
}

.partners .carousel_4_prev {
    background: url(../assets/icons/Polygon\ 7.svg);
}

@media (min-width: 1920px) {
    .header .carousel {
      height: 790px;
    }

    .header .carousel .carousel-item {
      height: 790px;
    }

    .header .carousel-indicators li {
      width: 27px;
      height: 27px;
      margin: 0 19.2px;
    }

    .carousel_1_prev {
       width: 47px;
       height: 94px;
       margin-right: -46px;
    }

    .carousel_1_next {
       width: 47px;
       height: 94px;
       margin-right: 46px;
    }

    .whoami {
        margin-top: 170px;
    }

    .whoami > .inner .pisa {
        width: 537px;
        height: 748px;
        margin-top: -99.84;
    }

    .whoami > .inner .info_content {
        width: 71.25%;
        margin-top: 38.4px;
    }


    .whoami > .inner .info_content .title {
        font-size: 90px;
    }

    .whoami > .inner .info_content > .text {
        width: 1116px;
        height: 274px;
        font-size: 20px;
    }

    .whoami > .inner .info_content > a {
        width: 251px;
        height: 61px;
        font-size: 33px;
        margin-top: 19.2px;
        border-radius: 26px;
    }

    .students .title, .partners .title {
        height: 272px;
    }

    .partners .title {
        margin-top: 307px;
    }

    .news_content .title > .shadow, .students .title > .shadow, .partners .title > .shadow {
        font-size: 99px;
        margin-bottom: -44.16px;
    }

    .news_content .title > .title_inner, .students .title > .title_inner, .partners .title > .title_inner {
        font-size: 79px;
        margin-top: -44.16px;
    }

    .news_content .inner_content .owl-carousel {
        width: 1600px;
        min-height: 382px;
    }

    .students .inner_content .owl-carousel {
        width: 1600px;
    }

    .news_content .inner_content .owl-carousel-item {
        width: 1600px;
        min-height: 382px;
    }

    .news_content .item {
        width: 328px;
        min-height: 382px;
    }

    .news_content .item > .img {
        height: 315px;
        border: 5px solid #fff;
        border-radius: 57px;
    }

    .news_content .item > .news_title {
        font-size: 24px;
        margin-top: 10px;
    }

    .news_content .item > .date {
        width: 234px;
    }

    .news_content .item > .date > .icon {
        width: 16.5px;
        height: 16.5px;
    }

    .news_content .item > .date > .time {
        font-size: 13px;
        margin-left: 5.8px;
    }

    .news_content > .inner > .title {
        height: 272px;
        margin-top: 57.6px;
    }

    .carousel_2_prev, .carousel_3_prev, .carousel_4_prev {
        width: 47px;
        height: 94px;
        margin-left: 103.7px;
    }

    .carousel_2_next, .carousel_3_next, .carousel_4_next {
        width: 47px;
        height: 94px;
        margin-right: 103.7px;
    }

    .controls-top {
        margin-top: 100px;
        width: 1920px;
    }

    .news_popup .pop_up_content{
        width: 1147px;
        height: 697px;
    }

    .news_popup .pop_up_content .owl-carousel {
        width: 1147px;
        height: 697px;
        border-radius: 76.8px;
    }

    .news_popup .pop_up_content .owl-carousel .item {
        width: 1147px;
        height: 697px;
        border-radius: 76.8px;
    }

    .news_popup .pop_up_content .owl-carousel .item .top {
        width: 1048px;
        height: 315px;
    }

    .news_popup .pop_up_content .owl-carousel .item .top img {
        width: 469px;
        height: 315px;
    }

    .news_popup .pop_up_content .owl-carousel .item .top .right {
        width: 542px;
        margin-top: -57.6px;
    }

    .news_popup .pop_up_content .owl-carousel .item .top .text {
        width: 542px;
        height: 315px;
        font-size: 20px;
        margin-top: 9.6px;
    }

    .news_popup .pop_up_content .owl-carousel .item .item_title {
        width: 542px;
        font-size: 37px;
    }

    .news_popup .pop_up_content .owl-carousel .item .bottom {
        width: 960px;
        transform: translateY(250px);
    }

    .news_popup .pop_up_content .owl-carousel .item .bottom .publish_date {
        font-size: 23px;
    }

    .news_popup .pop_up_content .owl-carousel .item .bottom .more {
        width: 251px;
        height: 61px;
        border-radius: 26px;
        font-size: 33px;
    }

    .news_popup .controls-top {
        width: 1404px;
    }

    .carousel_news_prev {
        width: 93px;
        height: 63px;
    }

    .carousel_news_next {
        width: 93px;
        height: 63px;
    }

    .students .inner_content {
        width: 100%;
        height: 453px;
    }

    .students .inner_content .owl-carousel {
        width: 1600px;
        min-height: 366px;
    }


    .students .inner_content .owl-carousel .item {
        width: 328px;
        min-height: 366px;
    }

    .students .inner_content .owl-carousel .item > .img {
        width: 328px;
        height: 328px;
        border: 5px solid #FFD129;
    }

    .students .inner_content .owl-carousel .item > .std_name {
        font-size: 33px;
        margin-top: 10px;
    }

    .students .bg {
        margin-top: 272px;
        height: 776px;
    }

    .students .pop_up_content, .students .pop_up_content .owl-carousel, .students .pop_up_content .owl-carousel .item {
        width: 575px;
        height: 810px;
    }

    .students .pop_up_content .owl-carousel .item {
        border-radius: 78px;
    }

    .students_popup .controls-top {
        width: 806.4px;
    }

    .carousel_students_prev {
        width: 78.6px;
        height: 58px;
    }

    .carousel_students_next {
        width: 78.6px;
        height: 58
    }

    .students .pop_up_content .owl-carousel .item img {
        width: 394px;
        height: 264px;
        margin-top: 96px;
    }

    .students .pop_up_content .owl-carousel .item .text {
        width: 456px;
        font-size: 22px;
        margin-top: 19.2px
    }

    .students .pop_up_content .owl-carousel .item .item_title {
        max-width: 456px;
        font-size: 30px;
        margin-top: 19.2px;
    }

    .partners .inner_content .owl-carousel {
        width: 1600px;
        height: auto;
    }

    .partners .inner_content .owl-carousel .item {
        height: 153.6px;
    }

    .partners .inner_content .owl-carousel .item > .img {
        max-width: 230.4px;
        max-height: 153.6px;
        object-position: center;
        object-fit: contain;
    }

    .partners .controls-top {
        margin-top: 39.6px;
    }

    .header .info {
        width: 728px;
        height: 790px;
    }

    .header .carousel .right {
        transform: translateX(470px);
    }

    .header .carousel .left {
        transform: translateX(-470px);
    }

    .header .info > .title {
        font-size: 76px;
        text-shadow: #000 0px 3px 20px;
        margin-top: 19px;
    }

    .header .info > .text {
        font-size: 28px;
        text-shadow: #000 0px 1px 6px;
        margin-top: 19px;
    }

    .header .info > .get_info {
        font-size: 40px;
        padding: 13.44px 23px;
        border-radius: 37px;
        margin-top: 19.2px;
    }
}

@media (max-width: 767px) {
    .header .carousel {
        height: 244px;
    }

    .header .carousel .carousel-item {
        height: 244px;
    }

    .carousel-indicators {
        bottom: 0;
    }

    .header .carousel-indicators li {
        width: 17px;
        height: 17px;
        margin: 0 10px;
    }

    .carousel_1_prev {
        width: 17px;
        height: 34px;
        background: url(../assets/icons/left3.svg);
        background-size: contain!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
        margin-left: 20px;
    }

    .carousel_1_next {
        width: 17px;
        height: 34px;
        background: url(../assets/icons/right3.svg);
        background-size: contain!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
        margin-right: 20px;
    }

    .header .info {
        width: 100%;
        height: 100%;
    }

    .header .carousel .right {
        transform: translateX(0);
    }

    .header .carousel .left {
        transform: translateX(0);
    }

    .header .carousel .right .title {
        text-align: right;
    }

    .header .carousel .left .title {
        text-align: left;
    }

    .header .info > .title {
        font-size: 28px;
        width: 100%;
        font-family: Gotham-regular;
        font-weight: 500;
        padding: 0 50px;
        transform: translateY(-45px);
    }

    .header .info > .text {
        display: none;
    }

    .header .info > .get_info {
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 37px;
        transition: 0.1s all;
        align-self: center;
        position: absolute;
        transform: translateY(60px);
    }

    .header .info > .get_info:hover {
        background: #29C4FF;
    }

    .whoami {
        width: 100%;
        margin-top: 0;
    }

    .whoami > .inner {
        width: 100%;
        height: auto;
        border-radius: 0;
        background: url(../assets/bg/whoami.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom left;
        padding-bottom: 70px;
    }

    .whoami > .inner .pisa {
        display: none;
    }

    .whoami > .inner .info_content {
        width: 100%;
        margin-top: 15px;
        align-items: center;
    }


    .whoami > .inner .info_content .title {
        font-size: 39px;
        font-family: Gotham-regular;
        color: #FFD129;
        font-weight: 500;
    }

    .whoami > .inner .info_content > .text {
        width: 100%;
        height: auto;
        color: #fff;
        font-family: Gotham-regular;
        font-size: 9px;
        padding: 0px 4%;
    }

    .whoami > .inner .info_content > a {
        width: auto;
        height: auto;
        font-family: Gotham-regular;
        margin-top: 20px;
        font-size: 16px;
        padding: 5px 20px;
        border-radius: 26px;
        margin-right: auto;
        margin-left: 4%;
    }

    .whoami > .inner .info_content > a:hover {
        background: #F5DB7D;
    }

    .news_content .title {
       margin: 0;
        height: 107px;
    }

    .news_content .title > .shadow {
        font-size: 54px;
        color: #339BD6;
        opacity: 0.33;
        font-family: Gotham-regular;
        transform: translateY(26px);
        margin: 0;
    }

    .news_content .title > .title_inner {
        font-size: 43px;
        color: #339BD6;
        font-family: Gotham-regular;
        transform: translateY(-26px);
        margin: 0;
    }

    .news_content .inner_content {
        width: 100%;
        height: auto;
        padding: 6px 0;
    }

    .news_content .inner_content .owl-carousel {
        width: 80%;
        height: auto;
    }

    .news_content .item {
        width: 190px;
        min-height: 220px;
    }

    .news_content .item > .img {
        width: 100%;
        height: 183px;
        border: 5px solid #fff;
        border-radius: 38px;
        box-shadow: rgba(0, 0, 0, 0.16) 8px 0 5px;
    }

    .news_content .item > .news_title {
        font-size: 13px;
        font-family: Gotham-regular;
        color: #000;
        margin-top: 10px;
    }

    .news_content .item > .date {
        width: 100px;
        display: flex;
        align-items: center;
    }

    .news_content .item > .date > .icon {
        width: 9.6px;
        height: 9.6px;
    }

    .news_content .item > .date > .time {
        color: #000;
        margin-left: 5px;
        font-size: 9px;
        font-family: Gotham-regular;
    }

    .news_content .controls-top {
        width: 280px;
        margin-top: -20px;
    }

    .carousel_2_prev, .carousel_3_prev, .carousel_4_prev {
        width: 22px;
        height: 47px;
        margin-left: 0;
    }

    .carousel_2_next, .carousel_3_next, .carousel_4_next {
        width: 22px;
        height: 47px;
        margin-right: 0;
    }

    .students .title {
        margin: 0;
        height: 107px;
    }

    .students .title > .shadow {
        font-size: 37px;
        color: #339BD6;
        opacity: 0.33;
        font-family: Gotham-regular;
        transform: translateY(18px);
        margin: 0;
    }

    .students .title > .title_inner {
        font-size: 35px;
        color: #339BD6;
        font-family: Gotham-regular;
        transform: translateY(-18px);
        margin: 0;
    }

    .students .bg {
        width: 100%;
        height: 250px;
        margin-top: 87.42px;
        position: absolute;
        z-index: -1;
        background: url(../assets/bg/Group\ 11.png);
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .students .inner_content {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .students .inner_content .owl-carousel {
        width: 280px;
        margin-top: -60px;
    }

    .students .inner_content .owl-carousel .item {
        width: 118px;
        min-height: 139px;
    }

    .students .controls-top {
        width: 320px;
        margin-top: -60px;
    }

    .students .inner_content .owl-carousel .item > .img {
        width: 118px;
        height: 118px;
        border: 3px solid #FFD129;
    }

    .students .inner_content .owl-carousel .item > .std_name {
        font-size: 11px;
        margin-top: 10px;
    }

    .partners > .inner {
        width: 100%;
    }

    .partners .title {
        margin: 0;
        height: 107px;
    }

    .partners .title > .shadow {
        font-size: 32px;
        color: #339BD6;
        opacity: 0.33;
        font-family: Gotham-regular;
        transform: translateY(15px);
        margin: 0;
    }

    .partners .title > .title_inner {
        font-size: 26px;
        color: #339BD6;
        font-family: Gotham-regular;
        transform: translateY(-15px);
        margin: 0;
    }

    .partners .inner_content {
        width: 100%;
    }

    .partners .inner_content .owl-carousel {
        width: 280px;
        height: auto;
    }

    .partners .inner_content .owl-carousel .item {
        height: 60px;
    }

    .partners .inner_content .owl-carousel .item > .img {
        max-width: 85px;
        max-height: 60px;
    }

    .partners .controls-top {
        width: 320px;
        margin-top: 0;
    }

    .partners .carousel_4_next {
        background: url(../assets/icons/Polygon\ 8.svg);
    }

    .partners .carousel_4_prev {
        background: url(../assets/icons/Polygon\ 7.svg);
    }

    .news_popup .close_popup {
        width: 40px;
        height: 40px;
        right: 20px;
        top: 20px;
        opacity: 0.8;
    }

    .news_popup .pop_up_content{
        width: 292px;
        height: 411px;
    }

    .news_popup .pop_up_content .owl-carousel {
        width: 292px;
        height: 411px;
        border-radius: 38px;
    }

    .news_popup .pop_up_content .owl-carousel .item {
      width: 292px;
        height: 411px;
        border-radius: 38px;
        display: flex;
        flex-direction: column;
    }

    .news_popup .pop_up_content .owl-carousel .item .top {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .news_popup .pop_up_content .owl-carousel .item .top img {
        width: 200px;
        height: 135px;
        object-fit: cover;
        object-position: center;
    }

    .news_popup .pop_up_content .owl-carousel .item .top .right {
        width: 231px;
        margin-top: 10px;
    }

    .news_popup .pop_up_content .owl-carousel .item .top .text {
        width: 231px;
        height: auto;
        font-size: 9px;
        margin-top: 10px;
    }

    .news_popup .pop_up_content .owl-carousel .item .item_title {
        width: 231px;
        font-size: 15px;
        text-align: center;
    }

    .news_popup .pop_up_content .owl-carousel .item .bottom {
        width: 231px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        transform: translateY(0);
        margin-top: 10px;
    }

    .news_popup .pop_up_content .owl-carousel .item .bottom .publish_date {
        font-size: 7px;
        font-family: Gotham-regular;
        color: #fff;
    }

    .news_popup .pop_up_content .owl-carousel .item .bottom .more {
        width: 120px;
        height: 21px;
        border-radius: 26px;
        font-size: 15px;
        transition: 0.1s all;
    }

    .news_popup .controls-top {
        width: 100%;
        max-width: 400px;
        z-index: 252134324
    }

    .carousel_news_prev {
        width: 39px;
        height: 29px;
    }

    .carousel_news_next {
        width: 39px;
        height: 29px;
    }

    .students_popup .controls-top {
        width: 100%;
        max-width: 400px;
        z-index: 252134324
    }

    .carousel_students_prev {
        width: 39px;
        height: 29px;
    }

    .carousel_students_next {
        width: 39px;
        height: 29px;
    }

    .students_popup .close_popup {
        width: 40px;
        height: 40px;
        right: 20px;
        top: 20px;
        opacity: 0.8;
    }

    .students_popup .pop_up_content{
        width: 292px;
        height: 411px;
    }

    .students_popup .pop_up_content .owl-carousel {
        width: 292px;
        height: 411px;
        border-radius: 38px;
    }

    .students_popup .pop_up_content .owl-carousel .item {
        width: 292px;
        height: 411px;
        border-radius: 38px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .students .pop_up_content .owl-carousel .item img {
        width: 200px;
        height: 135px;
        object-fit: cover;
        object-position: center;
    }

    .students .pop_up_content .owl-carousel .item .text {
        width: 231px;
        font-size: 9px;
        margin-top: 10px;
    }

    .students .pop_up_content .owl-carousel .item .item_title {
        width: 231px;
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
    }
}
