.news_content2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 8vw;
}

.news_content2 .inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
}

.news_content2 .inner > img {
    width: 36.6vw;
    height: 22.44vw;
    object-fit: cover;
    object-position: center;
    max-width: 704px;
    max-height: 431px;
}

.news_content2 .inner .newss_title {
    font-size: 1.92vw;
    font-family: Gotham-regular;
    color: #339BD6;
    margin-top: 1vw;
}

.news_content2 .inner .text_content {
    width: 55.46vw;
    height: auto;
    font-size: 1.145vw;
    font-family: Gotham-regular;
    color: #000;
    max-width: 1065px;
    margin-top: 1vw;
}


@media (min-width: 1920px) {
    .news_content2 {
        margin-top: 153.6px;
    }

    .news_content2 .inner .newss_title {
        font-size: 37px;
        margin-top: 19.2px;
    }

    .news_content2 .inner .text_content {
        font-size: 22px;
        margin-top: 19.2px;
    }
}

@media (max-width: 767px) {
    .news_content2 .inner > img {
        width: 309px;
        height: 189px;
    }

    .news_content2 .inner .newss_title {
        font-size: 25px;
        margin-top: 10px;
    }

    .news_content2 .inner .text_content {
        width: 309px;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 90px;
    }
}
