.universities_content {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.universities_content .inner {
	width: 100%;
	min-height: 58.38vw;
	max-width: 1920px;	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../assets/bg/bgsearch.svg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -4vw;
}

.universities_content .inner .search_bar {
	width: 81vw;
	height: 5.9vw;
	border-radius: 2.8125vw;
	background: #FFD129;
	margin-top: 8vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3vw;
}

.universities_content label {
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

.universities_content label span {
	color: #339BD6;
	font-size: 2.13vw;
	font-family: Gotham-regular;
	margin-right: 1.5vw;
}

.universities_content input {
	width: 14.68vw;
	height: 2.86vw;
	border-radius: 1.61vw;
	outline: none;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.16) 0 0.15vw 0.3vw;
	font-family: Gotham-regular;
	font-size: 1.8vw;
	color: #000;
	padding: 0 1vw;
}

.universities_content label:nth-child(2) input {
	width: 22.86vw;
}

.universities_content button {
	width: 11.56vw;
	height: 2.86vw;
	border-radius: 1.61vw;
	background: #339BD6;
	outline: none;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.16) 0 0.15vw 0.3vw;
	font-family: Gotham-regular;
	font-size: 1.8vw;
	color: #fff;
	cursor: pointer;
	transition: 0.1s all;
}

.universities_content button:hover {
	background: #29C4FF;
}

.universities_content .universities {
	width: 81vw;
	min-height: 36.45vw;
	background: rgba(255, 255, 255, 0.73);
	margin-top: 5vw;
	display: flex;
	flex-wrap: wrap;
	padding: 0 2vw;
	padding-top: 1.7vw;
	margin-bottom: 4vw;
}

.universities_content .universities .item {
	width: 11.875vw;
	height: 13.17vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0.4vw 1vw 0.4vw;
}

.universities_content .universities .item img {
	max-width: 11.875vw;
	max-height: 11.875vw;
}

.universities_content .universities .item a {
	font-size: 1.09vw;
	font-family: Gotham-regular;
	color: #339BD6;
	text-align: center;
}

@media (min-width: 1920px) {
	.universities_content .inner {
		min-height: 1121px;
		margin-bottom: -76.8px;
	}

	.universities_content .inner .search_bar {
		width: 1555px;
		height: 114px;
		border-radius: 54px;
		margin-top: 153.6px;
		padding: 0 57.6px;
	}

	.universities_content label span {
		font-size: 41px;
		margin-right: 28.8px;
	}

	.universities_content input {
		width: 282px;
		height: 55px;
		border-radius: 31px;
		box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
		font-size: 34.56px;
		padding: 0 19.2px;
	}

	.universities_content label:nth-child(2) input {
		width: 438px;
	}

	.universities_content button {
		width: 222px;
		height: 55px;
		border-radius: 31px;
		box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
		font-size: 34.56;
	}

	.universities_content .universities {
		width: 1555px;
		min-height: 701px;
		margin-top: 96px;
		padding: 0 38.4px;
		padding-top: 32.64px;
		margin-bottom: 76.8px;
	}

	.universities_content .universities .item {
		width: 228px;
		height: 253px;
		margin: 0 9px 19.2px 9px;
	}

	.universities_content .universities .item img {
		max-width: 228px;
		max-height: 228px;
	}

	.universities_content .universities .item a {
		font-size: 21px;
	}
}

@media (max-width: 767px) {
	.universities_content .inner {
		width: 100%;
		min-height: 395px;
		margin-bottom: -30px;
	}

	.universities_content .inner .search_bar {
		width: 337px;
		height: 194px;
		border-radius: 0;
		background: #F9E284;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0;
	}

	.universities_content label {
		display: flex;
		align-items: center;
		margin-bottom: 0;
	}

	.universities_content label span {
		display: none;
	}

	.universities_content input {
		width: 321px;
		height: 45px;
		border-radius: 31px;
		box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
		font-size: 23px;
		padding: 0 20px;
		margin-bottom: 10px;
	}

	.universities_content label:nth-child(2) input {
		width: 321px;
	}

	.universities_content button {
		width: 124px;
		height: 31px;
		border-radius: 31px;
		box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
		font-size: 22px;
		margin-top: 10px;
	}

	.universities_content .universities {
		width: 349px;
		min-height: 395px;
		margin-top: 20px;
		padding: 0 10px;
		padding-top: 17px;
		margin-bottom: 30px;
	}

	.universities_content .universities .item {
		width: 98px;
		height: 107px;
		margin: 0 5px 15px 5px;
	}

	.universities_content .universities .item img {
		max-width: 98px;
		max-height: 98px;
	}

	.universities_content .universities .item a {
		font-size: 8px;
	}
}

@media (max-width: 374px) {
	.universities_content .inner .search_bar {
		transform: scale(0.9);
	}

	.universities_content .universities {
		transform: scale(0.9);
		margin-top: 10px;
	}
}